<body>
    
    <div class ='container'>

        <h1>Create Something Great</h1>

        <p>Welcome to the free photo editor by PhotoDev! Start editing by clicking on the open image button. Happy Editing!</p>

        <a href="/upload"> <button type="button" class="btn btn-primary btn-lg">Open Image</button>

    </div>
</body>