
<h1>Testing</h1>
<div class="mainContainer">

    <div class="devTools">
        <ul>
            <li>
                <span class="iconify" data-icon="bx:brightness-half"data-width="50"></span>
                <p>Brightness</p>
            </li>
            <li>
                <span class="iconify" data-icon="bx:brush" data-width="50"></span>
                <p>Brush</p>
            </li>
            <li>
                <span class="iconify" data-icon="bx:collection" data-width="50"></span>
                <p>Greyscale</p>
            </li>
            <li>
                <span class="iconify" data-icon="bx:color-fill" data-width="50"></span>
                <p>Color</p>
            </li>
            <li>
                <span class="iconify" data-icon="carbon:magic-wand" data-width="50"></span>
                <p>Saturation</p>
            </li>
            <li>
                <span class="iconify" data-icon="bx:export" data-width="50"></span>
                <p>Download</p>
            </li>
        </ul>
    </div>
    <div class="content">


    </div>
    <div class="canvas">
            <img class="image" src="<%= images.img %> " alt="">
    </div>
</div>

<!-- <div class="imageCanvas">
    <img class="image" src="<%= images.img %> " alt="">
</div> -->
