<!-- <body class="uploadBackground"> -->
    

<h1 class="text-center mt-5" id="uploadFont"> Upload Your Image</h1>

<div class="container" id="uploadBackground">
        <form class="text-center mt-5" action="/editor" method="POST" enctype="multipart/form-data">
            <input class="form-control mt-5 w-50" required type="file"  placeholder="Image" name="img" id="img" >
            <button class="btn btn-secondary btn-md mt-5"  >Let's Get Started!</button>
        </form>
</div>

<!-- </body> -->