.body {
  background-color: ghostwhite;
  overflow: scroll;
  background-image: linear-gradient(95.2deg, #e3e8ee 26.8%, #fcfef9 64%);
}

#sticker {
  color: ghostwhite;
}

.slogan {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  color: #5e7181;
  text-align: center;
}
#pTag {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-align: center;
}

#uploadFont {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  color: #5e7181;
  margin-bottom: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px !important;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 80px;
  /* background-color: rgb(238, 225, 225); */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  overflow: auto;
  text-align: center;
  background: linear-gradient(110deg, #63e9cc 60%, whitesmoke 60%);
}

.contentContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#imageSpan {
  margin-right: 5px;
  color: red;
}

.uploadContainer {
  max-width: 600px !important;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: rgb(184, 177, 177);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
}

#uploadBackground {
  background: linear-gradient(110deg, #63e9cc 60%, whitesmoke 60%);
  background: linear-gradient(110deg, #63e9cc 60%, whitesmoke 60%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(85, 83, 83); */
  background-image: linear-gradient(to left, #63e9cc, #a9a6a6);
}

.logo {
  color: #63e9cc;
  margin-left: 20px;
}

.logoSpan {
  color: white;
}

.premium {
  margin-right: 20px;
  font-size: 17px;
  text-decoration: none !important;
  color: white;
  font-weight: bold;
}

.premium:hover {
  color: rgb(238, 226, 226);
  font-weight: bold;
}

#backHomeLink {
  text-decoration: none !important;
}

.btn-primary {
  background-image: linear-gradient(
    95.2deg,
    #63e9cc 26.8%,
    #a9a6a6 64%
  ) !important;
  border-color: white !important;
  border-radius: 10px !important;
}

.btn-primary:hover {
  background-image: linear-gradient(
    95.2deg,
    #a9a6a6 26.8%,
    #63e9cc 64%
  ) !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.btn-secondary {
  background-image: linear-gradient(
    95.2deg,
    #63e9cc 26.8%,
    #a9a6a6 64%
  ) !important;
}

.btn-secondary:hover {
  background-image: linear-gradient(
    95.2deg,
    #a9a6a6 26.8%,
    #63e9cc 64%
  ) !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

/* Editor page styling */

.mainContainer {
  height: 800px;
  width: 1100px;
  display: flex;
  border-radius: 10px;
  background: rgba (255, 255, 255, 0.05);
  overflow: hidden;
  box-shadow: 0.1px 4px 8px 5px rgba(70, 69, 69, 0.1);
  background-color: rgb(199, 199, 201);
  margin: auto;
  margin-top: 60px;
  /* overflow: scroll; */
}

/* Tools for Editor*/

.devTools {
  height: 150%;
  width: 10%;
  box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.05);
  /* border: solid red; */
}

.iconify {
  color: rgb(154, 154, 155);
}

ul li:hover .iconify {
  color: #50c3aa;
}

ul {
  list-style: none;
}

.listDiv {
  margin-right: 20px;
}

ul li {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s;
}

.devTools li:hover p {
  color: #50c3aa;
}

.imageDiv {
  margin: auto;
  width: 100%;
  margin: 20px;
  margin-right: 50px;
  border-radius: 10px;
}

.imager {
  position: relative;
  width: 100%;
  margin: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.image {
  /* display: block; */
  display: flex;
  align-items: center;
  /* margin: auto, 0; */
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* object-fit: fill; */
  border-radius: 15px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 15px;
  object-fit: contain;
  object-fit: fill;
  opacity: 10;
}

.image__overlay {
  opacity: 0%;
}

.image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 8px 6px -6px #413d3d;
}

.btn-disabled {
  color: #fff !important;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  background-color: #63e9cc !important;
}

.brightness {
  visibility: hidden;
}

.brush {
  visibility: hidden;
}

.greyscale {
  visibility: hidden;
}

.color {
  visibility: hidden;
}

.saturation {
  visibility: hidden;
}

/* Effect Count Styling*/

.brightnessCounter {
  visibility: hidden;
}

.brushCounter {
  visibility: hidden;
}

.greyscaleCounter {
  visibility: hidden;
}

.blurCounter {
  visibility: hidden;
}

.saturationCounter {
  visibility: hidden;
}

.resetColor {
  visibility: hidden;
}

.carousel-item {
  height: 14rem;
  background: #777;
  position: relative;
  background-position: center;
  background-size: cover;
}

#image_canvas {
  display: none;
  /* visibility: hidden; */
}

.btn-light {
  color: black !important;
  border: solid gray !important;
  border-width: thin !important;
}

.btn-danger {
  background-color: #677b8c !important;
  border-color: white !important;
}

/* Footer*/

.footer-basic {
  padding: 30px 0;
  background-image: linear-gradient(to right, #63e9cc, #a9a6a6);
  color: white;
}

.footer-basic .center {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic .center a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic .center a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > .aTag {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > .aTag:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(243, 236, 236);
  margin-bottom: 0;
}

.boxContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.box {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  background: darkturquoise;
  margin-right: 25px;
}

.circle {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: tomato;
  transform: rotate(-33deg);
  margin-right: 25px;
}

.triangle {
  margin-top: 50px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 0;
  border-bottom: 50px solid slateblue;
  margin-right: 25px;
}

.triangle {
  animation: grow-and-shrink 4000ms;
  transform: rotate(-33deg);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle {
  animation: grow-and-shrink 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.box {
  animation: grow-and-shrink 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#gold {
  background-color: gold;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  background: #3c31dd;
}
.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}
.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

@media screen and (max-width: 990px) {
  .contentContainer {
    flex-wrap: wrap;
  }
  #uploadFont {
    font-size: 25px;
  }

  .item:first-child {
    flex-basis: 100%;
  }
}
